[Unit]
Description=AOS VIS
Wants=network-online.target
After=network-online.target
PartOf=aos.target

[Service]
ExecStart=/usr/bin/aos_vis -c /etc/aos/aos_vis.cfg
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target