[Unit]
Description=AOS Update Manager
Wants=network-online.target aos-communicationmanager.service
After=network-online.target aos-communicationmanager.service
PartOf=aos.target
ConditionPathExists=/var/update/rootfs/updated
FailureAction=reboot-force

[Service]
Type=notify
ExecStart=/usr/bin/aos_updatemanager -c /etc/aos/aos_updatemanager.cfg -v debug -j
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target