[Unit]
Description=AOS Update Manager
Wants=network-online.target aos-servicemanager.service
After=network-online.target aos-servicemanager.service
PartOf=aos.target

[Service]
ExecStart=/usr/bin/aos_updatemanager -c /etc/aos/aos_updatemanager.cfg -v debug
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target