[Unit]
Description=SELinux autorelabel service loading
DefaultDependencies=no
After=var.mount var-aos.mount
Before=aos.target systemd-quotacheck.service

[Service]
Type=oneshot
ExecStart=/usr/bin/aos-selinux-autorelabel.sh

[Install]
WantedBy=multi-user.target
