[Unit]
Description=AOS Certificate Manager
Requires=network-online.target
After=network-online.target

[Service]
WorkingDirectory=/var/aos/certificatemanager
ExecStart=/usr/bin/aos_certificatemanager -c /etc/aos/aos_certificatemanager.cfg
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target