[Unit]
Description=AOS Certificate Manager
Wants=network-online.target
After=network-online.target
PartOf=aos.target

[Service]
ExecStart=/usr/bin/aos_certificatemanager -c /etc/aos/aos_certificatemanager.cfg
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target