[Unit]
Description=AOS Service Manager
Wants=network-online.target aos-vis.service aos-certificatemanager.service
After=network-online.target aos-vis.service aos-certificatemanager.service
PartOf=aos.target

[Service]
WorkingDirectory=/var/aos/servicemanager
ExecStart=/usr/bin/aos_servicemanager -c /etc/aos/aos_servicemanager.cfg
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
