[Unit]
Description=aos-firewall 
Before=network-pre.target
After=iptables.service
Wants=network-pre.target
ConditionPathExists=!/var/unprovisioned_state
PartOf=aos.target

[Service]
Type=oneshot
ExecStart=/usr/bin/iptables-rules.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
